{% extends "base.jinja" %}
{% set title = '403 - Forbidden' %}

{% block content %}

<div class="container">

		<h2>Sorry, you don't have access to the requested page</h2>

</div>


{% endblock content %}
