{% extends "base.jinja" %}
{% set title = '500' %}

{% block content %}

<div class="container">
		<h2>500 Error</h2>
		<h2>Something went wrong..</h2>
		<h2>Traceback:</h2>
		<div>
			{{traceback}}
		</div>

</div>




{% endblock content %}
