{% extends 'base.jinja' %}
{% set tile = 'Register' %}

{% block content %}
<div id="user_prediction" style="padding-bottom:16px;width:300px;">
<h1>Register</h1>

<form action="/register" method="post">
    <input autofocus="autofocus" id="register-username" name="register-username" placeholder="Username" type="text" value="{{username}}" required>
    <br />
    <input id="resgister_password" name="register-password" placeholder="Password" type="password" required>
    <br />
    <input id="resgister_password_confirmation" name="register-password_confirmation" placeholder="Re-enter password" type="password" required>
    <br />
    <input type="submit" value="Register">
    <br />
    <a href="/">Go to the login page</a>
</form>
</div>
{% endblock content %}